<h1>The choice is made!, The Traveller has come! The form of the Destructor is <%=@name%>!</h1>
<h2><%=link_to "Gozer will speak!", dolor_path(type: "2", num_paragraphs: "3")%></h2>
<div class="clearfix">
  <img src="../../assets/images/gozer1" alt="Gozer1" class="pull-left">
  <p><%=link_to "Gozer will speak!", dolor_path(type: "2", num_paragraphs: "3")%></p>
</div>
<p>Then... DIIIIIIIIE!</p>
